.attribution {
  font-size: 11px;
  text-align: center;
  width: 80%;
  margin: 1px auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* CUSTOM STYLING  */

* {
  margin: 0;
}
body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}
.container {
  background-color: hsl(189, 41%, 97%);
  margin: 16% 0 5%;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.initial-price-container,.number-of-people-container{
  position: relative;
}
.initial-details h3 {
  color: hsl(186, 14%, 43%);
  font-size: 1rem;
  margin: 24px 0 0 4px;
  display: inline-block;
}
h3.price-error-msg, h3.people-error-msg{
  position: absolute;
  right: 4px;
  color: 	hsl(0, 100%, 50%);
  display: none;
}

/* Bill input box  */

.bill-input,
.number-of-people {
  width: 80vw;
  height: 8vh;
  background-color: hsl(186, 76%, 92%);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1px auto;
  padding: 0 16px;
  border-radius: 4px;
}
.fas {
  color: hsl(184, 14%, 56%);
  /* font-size: 16px; */
}

.bill-input input[type="number"],
.number-of-people input[type="number"] {
  width: 88%;
  height: 44px;
  position: absolute;
  right: 1px;
  background-color: hsl(186, 76%, 92%);
  border: none;
  text-align: right;
  padding-right: 4px;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  -moz-appearance: textfield;
}

/* to remove arrows in input  */
.bill-input input[type="number"]::-webkit-outer-spin-button,
.bill-input input[type="number"]::-webkit-inner-spin-button,
.number-of-people input[type="number"]::-webkit-inner-spin-button,
.number-of-people input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

/* to remove input outline when active  */
.bill-input input[type="number"]:focus,
.number-of-people input[type="number"]:focus {
  outline: none;
}

/* set outline to entire input container when input active  */
.bill-input:focus-within,
.number-of-people:focus-within {
  border: 2px solid hsl(172, 67%, 45%);
}

/* error style */


/* Tip percentage radio */

.percent-container {
  text-align: center;
  display: grid;
  margin: 8px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 16px;
  width: 90vw;
  padding: 8px auto;
}
.percent-item {
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
}
.percent-item:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 93%, 12%);
}
.percent-item input:checked + label {
  border-radius: 8px;
  background-color: hsl(172, 75%, 63%);
  color: hsl(183, 93%, 12%);
  font-weight: bold;
  position: relative;
  height: 29px;
  position: relative;
  bottom: 29px;
  padding: 6px 0;
}
.percent-item input[type="radio"] {
  position: relative;
  top: 4px;
  /* width: 100%; */
  appearance: none;
}
.percent-item label {
  position: relative;
  bottom: 24px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.final-detailes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: hsl(183, 100%, 15%);
  margin: 16px 0;
  border-radius: 8px;
  padding: 16px;
}
.final-detailes button {
  width: 100%;
  height: 8vh;
  margin: 16px auto 8px;
  font-size: 1.3rem;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.final-detailes button:hover {
  background-color: hsl(172, 75%, 63%);
  color: hsl(183, 93%, 12%);
}
.amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
}
.amount-container p {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.amount-container h1 {
  color: hsl(172, 67%, 45%);
}
.amount-container p span {
  color: hsl(184, 14%, 56%);
  font-size: 0.8rem;
}

/* DESKTOP DESIGN */

@media (min-width: 376px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    margin: 10% auto 5%;
  }
  .initial-details {
    width: 50%;
    padding-right: 24px;
    /* padding: 5%; */
  }

  .final-detailes {
    width: 40%;
    height: auto;
    /* padding: 5%; */
  }
  .percent-container {
    display: grid;
    margin: 4px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr;
    gap: 16px 16px;
    width: 100%;
  }
  .bill-input,
  .number-of-people {
    width: 90%;
    height: 48px;
    padding: auto 10%;
  }

  .final-detailes button {
    margin: 38px auto 4px;
  }
}
